#container {
	margin-top: -90px;
}
#container p {
	font-size: 15px;
}
#container #a_de, #container #b_de, #container #c_de, #container #d_de {
	margin-top: 20px;
	border: none;
}
#container #a_de {
	color: #FB9CA1;
}
#container #b_de {
	color: #B6AEF2;
}
#container #c_de {
	color: #9CF0BC;
}

#container #d_de {
	color: #F0DC9C;
}