* {
	padding:0;
	margin:0;
}
body {
	font-size:12px;
	font-family: Comic Sans MS, Arial, Helvetica, sans-serif;
	background-color: #F2F2EB;
	/*background:#FAF6EA url(../images/main_bg.jpg) no-repeat center top;*/
}
#close {
	background-color: #858585;
	color: #fff;
	width: 80px;
	font-size: 20px;
	font-family: CenturyGothic;
	text-align: center;
	border-radius: 20px;
	margin-top: 10px;
	height: 30px;
	padding-top: 5px;
	float: right;
	z-index: 20;
	margin-right: 15px;
}

#container {
	padding-top: 65px;
	z-index: 20;
}
#container img {
	width: 100%;
	font-size: 15px;
}
.friends {
	float: left;
	width: 30px;
	height: 30px;
	background-color: #fff;
	padding-left: 20px;
}