@font-face {
	font-family:UnscreenMK;
	src: url('UnscreenMK.ttf');
}
body {
	overflow-y: scroll;
	background-color: #d9d3c3;
}

label, p, h4, h6 {
	font-family: UnscreenMK, Arial, sans-serif;
	letter-spacing: .1em;
	line-height: 20px;
}

label {
	line-height: 20px; /* letter position in bar */
	font-size: 18px;
	text-transform:uppercase;
}

p {font-size: 14px; }
h4 {font-size: 15px; }
h6 {font-size:12px; }

img {
	width:250px;
	height:270px;
	margin: 15px 75px 15px 75px;
}

#topbar {
	width: 400px;
	height: 40px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;

	text-align: center;
	font-family: UnscreenMK, Arial, sans-serif;
	font-size: 30px;
	color: #fe7970;

	background: #3d4959;
	border:3px solid #3d4959;
	-moz-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.25) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.25) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow:
        0 2px 7px 0 rgba(0,0,0,.2);
    border-radius: 6px;
    	text-shadow: 0 1px 2px rgba(0,0,0,.4);
}

/*** .Nav Class ***/
.nav {
	width: 400px;
	margin: 0 auto;
	overflow:hidden;
	
	text-align: left;
	border:3px solid;
	
	 -moz-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.25) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.25) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow:
        0 15px 30px 0 rgba(255,255,255,.25) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    border-radius: 6px;
    border: 3px solid #fdfbee;
    border-color: #fe7970;
}

.nav label{
	display: block;
	position: relative;
	padding: 5px 20px;
	height: 20px;
	cursor: pointer;
	z-index: 20;

	color:#fdfbee;
	background-color:#f7b2ad;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,.5);
	-webkit-box-shadow: 0px 0px 0px 1px rgba(155,155,155,.5);
	-moz-box-shadow:0px 0px 0px 1px rgba(155,155,155,.5);
	text-shadow: 0 1px 2px rgba(0,0,0,.4);
}
.nav label i{
	font-size: 20px;
	padding: 3px 10px 0 0;
}
.nav input:checked + label,
.nav input:checked + label:hover{
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,.3), 
		0px 2px 2px rgba(0,0,0,.1);
	-webkit-box-shadow:
		0px 0px 0px 1px rgba(155,155,155,.3), 
		0px 2px 2px rgba(0,0,0,.1);
	-moz-box-shadow:
		0px 0px 0px 1px rgba(155,155,155,.3), 
		0px 2px 2px rgba(0,0,0,.1);
	color:#FFFFFF;
}
.nav label:hover:after,
.nav input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;	
	color:#FFFFFF;
}

.nav label:hover,
.nav input:checked + label,
.nav input:checked + label:hover{ 
	background: #fe7970;
}

.nav input{
	display: none;
}
/*** .content Class ***/
.content{
	margin-top: -1px;
	overflow: hidden;
	height: 300px;
	position: relative;
	z-index: 10;
    text-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: rgba(255, 255, 255, 0.7);
}
.content p{
	padding: 2px 10px 5px 10px;
	margin-left:8px;
	color: #3d4959;
	border-left:5px solid #f4bcb8;
}
.content h4{
	padding:8px 0 0px 15px;
}
.content h6{
	padding:8px 15px 10px 15px;
	margin:10px;
	
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;

	color:#3d4959;
	background-color:rgba(113, 181, 235, .3);
	/*background: transparent url(../img/alarm.png) no-repeat center center;*/
}

.content h6 i{
	padding:0 5px;
	font-size:10px;
}

.nav input:checked ~ .content{       
	z-index:-1;
	
	-webkit-animation-name: slideLeft;
	-webkit-animation-duration: .7s;
	-webkit-animation-iteration-count: 1;
}
.nav label:hover:after,
.nav input:checked + label:hover:after{
	background: transparent url(../img/arrow_down.png) no-repeat center center;
}
.nav input:checked + label:hover:after{
	background: transparent url(../img/arrow_up.png) no-repeat center center;
}
