#photo {
	margin-top: -10px;
	width: 80px;
	height: 80px;
	margin-left: 20px;
	border: 4px solid #000;
}
.icons {
	margin-right: 2px;
}
.attr {
	margin-right: 10px;
}
#container p {
	font-size: 15px;
	padding-right: 15px;
}
#points {
	font-size: 25px;
}